@{
    ViewData["Title"] = "Dziki zachód";
}
    <div class="text-center">

        <h1>
            Witaj na dzikim zachodzie!
        </h1>
        <p class="mt-5">
            Dodawaj bronie i uzupełniaj wyniki strzelania
        </p>
</div>