@model Gun
<h1>Edycja</h1>
<form asp-controller="gun" asp-action="add" method="post" class="form-horizontal">
    <a href="/Gun/Index" class="btn btn-color">Wróć</a>
    <a href="/Gun/Delete/@Model.id" class="btn btn-color">Usuń</a>


    <div class="form-group ">
        <label asp-for="name"></label>
        <input asp-for="name" type="text" class="form-control" value="@Model.name">
        <small class="text-danger"><span asp-validation-for="name"></span></small>
    </div>

    <div class="form-group ">
        <label asp-for="caliber"></label>
        <input asp-for="caliber" type="text" class="form-control" value="@Model.caliber">
        <small class="text-danger"><span asp-validation-for="caliber"></span></small>
    </div>
    <div class="form-group ">
        <label asp-for="size"></label>
        <input asp-for="size" type="text" class="form-control" value="@Model.size">
        <small class="text-danger"><span asp-validation-for="size"></span></small>
    </div>
    <div class="form-group ">
        <label asp-for="weight"></label>
        <input asp-for="weight" type="text" class="form-control" value="@Model.weight">
        <small class="text-danger"><span asp-validation-for="weight"></span></small>
    </div>

    <div class="text-center"><button type="submit" id="submitter" class="btn btn-color">Edytuj</button></div>
</form>